<div class="container">
  <h1>Categorias :</h1>
</div>
<div class="container">
  <div class="col">
    <div class="row">
      <table class="table table-hover text-center">
        <thead class="justify-content-end">
            <th></th>
            <th></th>
            <th></th>
            <th><a  class="btn btn-outline-primary" id="RT" href="/admin/categorias/create"> Agregar categoria </a></th>
        </thead>
        <thead>
          <th>id</th>
          <th>Nombre</th>
          <th>-</th>
          <th>-</th>
        </thead>
        <tbody>
          {{#each categoria}}
            <tr>
              <td>{{id}}</td>
              <td>{{categoria}}</td>
              <td><a href="/admin/categorias/update/{{id}}" class="btn btn-success">Editar <i class="fas fa-user-edit"></i> </a></td>
              <td><a href="/admin/categorias/delete/{{id}}" class="btn btn-danger">Eliminar <i class="fas fa-user-minus"></i></a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container " >
  <div class="col" style="display: flex; justify-content:space-evenly">
    <a class="btn btn-primary" id="adminFun" href="/admin/usuarios">Usuarios</a>
    <a class="btn btn-primary" id="adminFun" href="/admin/productos">Productos</a>
    <a class="btn btn-primary" id="adminFun" href="/admin/categorias">Categorias</a>
    <a class="btn btn-primary" id="adminFun" href="/admin/empleados">Empleados</a>
    <a class="btn btn-primary" id="adminFun" href="/admin/mensajes">Mensajes</a>
  </div>
</div>