<div class="container" style="background-image: url(/images/aadmin.png);background-size:cover">
  <div class="container text-center" >
      <h1 style="color: #efde2c;letter-spacing: 1px;font-weight: 900;font-style: normal;">Administrador</h1>
  </div>
  <div class="container" >
    <div class="d-grid justify-content-end" style="margin-right: 200px;">
      <div class="mt-5" style="margin: 15px;">
        <a href="/admin/usuarios"class="btn" id="IS">Usuarios AMB <i class="fas fa-user-cog"></i></a>
      </div>
      <div class="mt-5" style="margin: 15px;">
        <a href="/admin/productos"class="btn" id="IS">Productos AMB <i class="fas fa-tasks"></i></a>
      </div>
      <div class="mt-5" style="margin: 15px;">
        <a href="/admin/categorias"class="btn" id="IS">Categorias AMB <i class="fas fa-tasks"></i></a>
      </div>
      <div class="mt-5" style="margin: 15px;">
        <a href="/admin/empleados"class="btn" id="IS">Empleados AMB <i class="fas fa-user-cog"></i></a>
      </div>
        <div class="mt-5" style="margin: 15px; margin-block-end:50px">
        <a href="/admin/mensajes"class="btn" id="IS">Ver mensajes <i class="far fa-envelope"></i></a>
      </div>
    </div>
  </div>
</div>