<div class="container" style="background-image:url(/images/error.png); background-size:cover">
<div class="container">
<h1 class="text-center text-danger" style="line-height: 138px;"><b>Problem is:   {{message}}</b></h1>
<h2 class="text-center" style="color: #efde2c;"><b>{{error.status}}</b></h2><br>
<div class="container text-center">
    <pre style="color: #fff;font-size:x-small;">{{error.stack}}</pre>
</div>
</div>
<div class="container" style="display: grid; justify-content:center">
<a class="btn" style="margin-block:20px" id="IS" href="/"> Volver al menu principal</a>
</div>
</div>