<div class="container-fluid" style="background-image:url(/images/404.png)">
<div class="container justify-content-center">
<h1>Problem is: {{message}}</h1>
<h2><b>{{error.status}}</b></h2>
<pre>{{error.stack}}</pre>
</div>
<div class="container" style="display: grid; justify-content:center">
<button style="background-color:#000; font-size:25px; color:#efde2c; margin-block:10px"> <a href="/"> Volver al menu principal</a>
</button>
</div>
</div>