<div class="container-fluid">
  <img
    class="imgInicial"
    style="width: 100%;"
    src="/images/burgerslide.png"
    alt=""
  />
</div>

<section class="py-5">
  <div class="container-fluid row" style="background-color: #000;">
    <div
      class="col-12 col-sm-6 pl-0 imgProbaste"
      style="display: grid; justify-content:center"
    >
      <h3 id="probaste">Ya probaste las nuevas burgers?</h3>
      <img
        src="/images/burgerss.png"
        alt="..."
        width="600px"
        height="306.6px"
        style="display: flex; justify-content:center"
      />
    </div>

    <div class="col-12 col-sm-6 text-center p-0">
      <img
        class="logoInicio"
        src="/images/janb.png"
        alt="No disponible"
        height="110px"
        width="165px"
      />
      <h2> HACE TU PEDIDO </h2>
      <br />
      <h3 style="color: #fff;">Take away o delivery</h3>
      <br />
      <button class="btn-pedido" type="button">
        <a class="pedido" href="/menu">
          ¡Realizar pedido!
          <i class="fas fa-hamburger"></i></a>
      </button>

    </div>
  </div>
</section>