<div class="container" id="noAutorizado">
    <div style="line-height: 830px; ">
        <h1 class="text-center text-danger" style="font-size: 50px;"> <b> No estas autorizado para ingresar </b></h1>
        <p class="text-center text-danger" style="font-size: larger;"><b>{{messages}}</b></p>
    </div>
</div>