<div class="container" style="justify-content: center;">
    <h1>Empleado # {{usuario.id}}</h1> 

    <div class="container">
        <h2>Usuario : {{usuario.nombre}}, {{usuario.apellido}}</h2>
    </div>
</div> 